.wd-105 {
  width: 105px;
}
.wd-80 {
  width: 80px;
}
.card-text {
  line-height: 1.38;
  opacity: 0.88;
}
@media (max-width: 768px) {
  .card {
    align-items: center;
    margin-bottom: 10%;
  }
}
